/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: $light-blue;
	border-color: $blue;
	// height: 8px;
	width: auto;
	color: $lightest-gray;
	font-weight: bold;
	padding: 8px;
	border-radius: 5px;
	transition: background-color 0.5s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	text-align: justify;
}

button:hover {
	background-color: $dark-blue;
	border-color: $darkest-blue;
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}
