<h1>Create new Sub</h1>

<form action="<%= subs_url %>" method="post">
  <%= auth_token %>

  <label for="sub[title]">Title:</label><br>
    <input type="text" name="sub[title]" value=""><br>
  <label for="sub[description]">Description:</label><br>
    <textarea name="sub[description]" rows="8" cols="80"></textarea>
    <br>
  <input type="submit" value="Create Sub">
</form>
