<h1>Log in</h1>

<h5>Enter Login Information:</h5>
<form action="<%= session_url %>" method="post">
  <%= auth_token %>
  <label for="username">Username:</label><br>
  <input type="text" name="user[username]" value=""><br>

  <label for="password">Password:</label><br>
  <input type="password" name="user[password]" value="">
  <br>
    <input type="submit" value="Login">
</form>
