/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: white;
  color: $grey;
  font-size: 12px;
  height: 100%;
}
section {
  box-sizing: content-box;
}
header {
  display: flex;
  justify-content: center;
  background-color: $red;

  img {
    width: 43px;
    height: 43px;
  }
}

nav {
  width: 900px;
  background-color: $red;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      a {
        background-color: white;
        border-radius: 4px;
        color: $grey;
        font-weight: 700;
        display: block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 1;
        position: relative;
        -webkit-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -moz-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -ms-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -o-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;

        &:hover {
          color: $light-grey;
          -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
        }

        &:active {
          background-color: $light-grey;
          color: white;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }
}

#root {
  height: 100%;
  padding-top: 20px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: $black;
}

h5 {
  font-size: 14px;
  color: carbon;
}

.pokemon-image {
  width: 20px;
  height: auto;
}

.pokelist > ul {
  width: 200px;
  overflow-y: scroll;
  height: calc(100vh - 50px);
}

li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  border-top: 1px solid grey;
  padding: 10px;
  height: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

li a span, li a img {
  padding-right: 8px;
}

.rest-of-page {
  width: calc(100% - 300px);
  float: left;
}

.pokelist {
  width: 300px;
  float: left;
}

.poke-detail {
  width: 80%;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 10px;
}

.poke-detail-ul {
  padding-left: 0;
}

.poke-detail-ul li {
  font-size: 20px;
  justify-content: center;
}

.poke-detail-items {
  display: flex;
  justify-content: space-between;
  color: inherit;
}

.items-section {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px, 7px;
  color: inherit;
}

.poke-detail-items img {
  width: 50px;
  height: auto;
}
.poke-detail-items li {
  border: 0;
}

.poke-detail-items {
  padding-left: 0px;
}

.pokeImg {
  width: 350px;
  height: auto;
}
